@use 'lib' as *;

.promo {
	$self: &;

	padding-top: 200px;
	padding-bottom: fluid(64px, 32px);

	&__container {

	}

	&__swiper {
		width: 100%;
	}

	&__slide {
		width: 100%;
		aspect-ratio: 1200 / 369;
		border-radius: 16px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}
