<footer class="footer">
    <div class="footer__container container">
        <div class="footer__side footer__side_left">
            <a href="#" class="footer__logo">
                <img loading="lazy" src="./img/logo.svg" alt="">
            </a>
            <a href="#" class="footer__adreess">г. Москва, ул. Бакунинская, 26-30с1</a>
        </div>
        <ul class="footer__list">
            <li class="footer__list-item"><a href="#">О нас</a></li>
            <li class="footer__list-item"><a href="#">Контакты</a></li>
            <li class="footer__list-item"><a href="#">Договор оферты</a></li>
            <li class="footer__list-item"><a href="#">Политика конфиденциальности</a></li>
            <li class="footer__list-item"><a href="#">Доставка и оплата</a></li>
            <li class="footer__list-item"><a href="#">Гарантии</a></li>
            <li class="footer__list-item"><a href="#">FAQ</a></li>
        </ul>
        <div class="footer__contacts">
            <a href="#" class="footer__contact">
                <svg>
                    <use xlink:href="#call"></use>
                </svg>
                + 7 996 666-40-10
            </a>
            <a href="#" class="footer__contact">
                <svg>
                    <use xlink:href="#mail"></use>
                </svg>
                Info@Cvety24.ru
            </a>
            <div class="footer__socials">
                <a href="#" class="footer__social">
                    <svg>
                        <use xlink:href="#tg"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social">
                    <svg>
                        <use xlink:href="#wa"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>

@@include("_sprite.svg")
<script src="js/common.js?v=0"></script>
</body>

</html>