<header class="header">
    <div class="header__container container">
        <div class="header__contacts">
            <div class="header__contacts-side">
                <a href="#" class="header__address">
                    <svg>
                        <use xlink:href="#location"></use>
                    </svg>
                    г. Москва, ул. Бакунинская, 26-30с1
                </a>
                <div class="header__socials">
                    <a href="#" class="header__social">
                        <svg>
                            <use xlink:href="#tg"></use>
                        </svg>
                    </a>
                    <a href="#" class="header__social">
                        <svg>
                            <use xlink:href="#wa"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <a href="#" class="header__call">
                <svg>
                    <use xlink:href="#call"></use>
                </svg>
                +7 (812) 123-45-67
            </a>
        </div>
        <div class="header__main">
            <div class="header__side header__side_first">
                <a href="#" class="header__logo">
                    <img src="./img/logo.svg" alt="">
                </a>
                <button type="button" class="header__catalog-button">
                    <svg>
                        <use xlink:href="#menu"></use>
                    </svg>
                    Каталог
                </button>
            </div>
            <div class="header__side header__side_second">
                <label class="header__search">
                    <input placeholder="Поиск товаров" type="text">
                    <svg>
                        <use xlink:href="#search"></use>
                    </svg>
                </label>
                <button type="button" class="header__button">
                    <svg>
                        <use xlink:href="#heart"></use>
                    </svg>
                    <span>Избранное</span>
                </button>
                <button type="button" class="header__button">
                    <svg>
                        <use xlink:href="#basket"></use>
                    </svg>
                    <span>Корзина</span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__modal">
        <div class="header__catalog">
            <ul class="header__catalog-list">
                <li class="header__catalog-item">
                    <a href="#">Акции</a>
                    <ul class="header__catalog-item-list">
                        <li><a href="#">То то т о</a></li>
                        <li><a href="#">То то т о</a></li>
                        <li><a href="#">То то т о</a></li>
                        <li><a href="#">То то т о</a></li>
                    </ul>
                </li>
                <li class="header__catalog-item">
                    <a href="#">Хиты продаж</a>
                    <ul class="header__catalog-item-list">
                        <li><a href="#">То то т о</a></li>
                        <li><a href="#">То то т о</a></li>
                        <li><a href="#">То то т о</a></li>
                        <li><a href="#">То то т о</a></li>
                    </ul>
                </li>
                <li class="header__catalog-item"><a href="#">Букеты</a></li>
                <li class="header__catalog-item"><a href="#">Розы</a></li>
                <li class="header__catalog-item"><a href="#">Тюльпаны</a></li>
                <li class="header__catalog-item"><a href="#">Монобукеты</a></li>
            </ul>
            <button class="header__catalog-close">
                <svg><use xlink:href="#close"></use></svg>
            </button>
        </div>
    </div>
</header>