@use 'lib' as *;

.basket {
	$self: &;

	padding-top: 200px;
	padding-bottom: fluid(120px, 60px);

	&__title {
		margin-bottom: 48px;
	}

	&__items {
		padding: 16px;
		background: var(--gray);
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-bottom: 48px;
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		flex-wrap: wrap;


	}

	&__text {
		font-weight: 500;
		font-size: 20px;
	}

	&__count {
		font-weight: 700;
	}

	&__button {
		background: var(--rose-hover);
		color: var(--white);
		padding: 16px 32px;
		line-height: 100%;
		border-radius: 16px;
		font-size: 20px;
		font-weight: 600;
	}

	&__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 32px;

		&:not(:last-child) {
			padding-bottom: 16px;
			border-bottom: 1px solid var(--gray-text);
		}

		@include media("<=xs") {
			display: grid;
			grid-template-columns: auto 1fr;
			justify-content: start;
		}
	}

	&__item-img {
		width: 56px;
		height: 56px;
		object-fit: cover;
		border-radius: 16px;
	}

	&__item-control {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
		margin-left: auto;
	}

	&__item-minus,
	&__item-plus {
		width: 36px;
		height: 36px;
		background: var(--rose);
		border-radius: 16px;
		@include flex-center;

		svg {
			width: 24px;
			height: 24px;
			fill: var(--white);
		}
	}

	&__item-minus {
		background: #d44444;
	}

	&__item-plus {
		background: #6ed885;
	}

	&__item-count {
		font-size: 20px;
		font-weight: 700;
	}

	&__item-title {
		font-size: fluid(20px, 16px);
		font-weight: 600;
	}

	&__item-price {
		font-size: fluid(20px, 16px);
		font-weight: 600;
	}

}