@use 'lib' as *;

.card-item {
	$self: &;

	display: flex;
	flex-direction: column;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 4px 24px rgba(53, 51, 57, .08);
	position: relative;

	&__image {
		aspect-ratio: 1 / 1;
		width: 100%;
		position: relative;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__img {}

	&__content {
		padding: 16px 24px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&__title {
		font-size: fluid(20px, 16px);
		margin-bottom: 24px;
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 16px;
		align-items: center;
		justify-content: space-between;
		margin-top: auto;
	}

	&__price {
		font-weight: 700;
		font-size: 22px;
	}

	&__cart {
		padding: 12px 16px;
		background: var(--rose);
		color: var(--white);
		line-height: 100%;
		border-radius: 16px;
		transition: all var(--trans);
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;

		svg {
			width: 24px;
			height: 24px;
			fill: var(--white);
		}

		&:hover {
			background: var(--rose-hover);
		}
	}

	&__like {
		@include flex-center;
		position: absolute;
		top: 24px;
		right: 24px;
		width: 48px;
		height: 48px;
		background: var(--white);
		border-radius: 50%;
		transition: all var(--trans);

		&:hover {
			background: var(--rose);
			opacity: 1;

			svg {
				fill: var(--white);
			}
		}

		svg {
			width: 32px;
			height: 32px;
			fill: var(--rose);
			transition: all var(--trans);
		}

		@include media(">lg") {
			opacity: 0;
		}
	}

	&.is-liked {
		#{$self}__like {
			background: var(--rose);
			opacity: 1;

			svg {
				fill: var(--white);
			}
		}
	}

	&:hover {
		#{$self}__like {
			opacity: 1;
		}
	}

}