@use 'lib' as *;

.catalog-row {
	$self: &;

	padding: fluid(64px, 32px) 0;
	overflow: hidden;

	&__container {
		
	}

	&__up {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 16px 32px;
		margin-bottom: 32px;
	}

	&__title {}

	&__more {
		@include flex-center;

		flex-direction: row;
		gap: 12px;
		padding: 16px 24px;
		background: var(--gray);
		font-size: 18px;
		font-weight: 700;
		border-radius: 16px;

		svg {
			width: 24px;
			height: 24px;
			fill: transparent;
			stroke: var(--gray-text);
		}
	}

	&__items.swiper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		position: relative;
		overflow: visible;

		.swiper-slide {
			display: flex;
			height: auto;
			z-index: 100;
			
		}
	}

	&__navigation {
		position: absolute;
		top: 50%;
		width: calc(100% + 56px);
		left: -28px;
		transform: translateY(-50%);
		pointer-events: none;
		z-index: 10;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@include media("<=xs") {
			width: 100%;
			left: 0;
			padding: 0 8px;
		}
	}

	&__navigation-btn {
		@include flex-center;
		width: fluid(56px, 48px); height: fluid(56px, 48px);
		border-radius: 50%;
		background: var(--white);
		box-shadow: 0 4px 24px rgba(53,51,57,.08);
		pointer-events: all;
		cursor: pointer;
		z-index: 2;

		svg {
			width: 32px;
			height: 32px;
			fill: transparent;
			stroke: var(--gray-text);
		}

		&_next {
			svg {
				transform: rotate(180deg);
			}
		}
	}

}