@use 'lib' as *;

.advantages {
	$self: &;

	padding: fluid(64px, 32px) 0;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: fluid(48px, 32px);
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 48px 24px;
		max-width: 960px;

		@include media("<=xs") {
			grid-template-columns: repeat(2, 1fr);
			gap: 32px 16px;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		max-width: 290px;
	}

	&__card-icon {
		@include flex-center;
		width: 40px; height: 40px;
		border-radius: 50%;
		background: var(--rose);
		svg {
			fill: #ffffff;
			width: 20px; height: 20px;
		}
	}

	&__card-text {
		text-align: center;
		font-weight: 500;
		font-size: fluid(16px, 14px);
	}

}
